*{
    padding: 0;
    margin: 0;
}
body {
    font: 300 11px/1.4 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #181818f5;
}
.logo {
    background-color: #212121;
    display: block;
    margin-top: 15px;
    /* padding: 8px 0; */
}
.logo img{
    width: 59px;
    height: 50px;
    /* background-color: #070707; */
}
.navbar{
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    text-align: center;
}
   
.navicon{
    content: '';
    /* font-size: 15px; */
    letter-spacing: 2px;
    position: absolute;
    bottom: 100px;
    color: #888;
    display: block;
    width: 100%;
    text-align: center;
    /* opacity: 0; */
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    /* margin: 20px 0; */
    padding: 6px 0;
}
.navicon a{
    font-size: 25px;
    color: #4d4d4e;
    display: block;
    line-height: 51px;
    height: 35px;
    position: relative;
    text-decoration: none;
    
}
.navicon a i{
    transition: all .5s ease-out;
}

.navicon a:hover {
    color: #08fdd8;
    opacity: 1;
    /* display: none; */

}
.navicon a:hover:after{
    opacity: 1;
}

.navbar ul{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
}
.navbar ul a{
    padding: 7px 0;
    display: block;
    font-size: 15px;
    line-height: 16px;
    color: #4d4d4e;
}
.navbar ul a:hover{
    color: #08fdd8;
    opacity: 1;
}
#page {
    width: 100%;
    height: 100%;
    position: absolute;
}
.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 80px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.tags {
    color: #515152;
    position: absolute;
    bottom: 0;
    left: 80px;
    font-size: 18px;
    font-family: 'La Belle Aurore',cursive;
}



.home-page h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: font-file-82132;
    font-weight: 400;
}
.container img{
    width: 40px;
    height: 40px;
}
.home-page .flat-button {
    color: #08fdd8;
    font-size: 13px;
    letter-spacing: 4px;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #08fdd8;
    margin-top: 25px;
    float: left;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}

.home-page .flat-button:hover {
    background: #08fdd8;
    color: #333;
}
.home-page .text-zone a {
    font-weight: 400;
}
.home-page .blast {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.home-page h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: font-file-82132;
    font-weight: 400;
}
h1 {
    font-size: 60px !important;
}
.home-page h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: "Open Sans",sans-serif;
    letter-spacing: 3px;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}
.home-page h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -40px;
    left: -15px;
}
.home-page h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    -webkit-animation: myanim2 1s 1.7s backwards;
    animation: myanim2 1s 1.7s backwards;
}

#image{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 30%;
    height: 100%;

}
#image .image{
width: 100%;
height: 100%;
}